html {
    min-width: auto;
    touch-action: manipulation;
}

.buttons.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items : center;
}

.buttons.grid .button {
    flex: 1 0 20%;
    margin: 10px;
    padding: 40px 20px;
    line-height: 0px;
}

.buttons.grid .complex-button {
    flex: 1 0 34%;
    margin: 15px 10px;
    min-width: min(100%, 300px);
}

.buttons.grid .complex-button.is-selected .message-header {
    background-color: #3273dc;
    color: #fff;
}

.buttons.grid .complex-button.is-selected .message-body.is-selected {
    background-color: #eef3fc;
    color: #2160c4;
}

.rooms-container {
    display: flex;
    flex-direction: row;
}

.rooms-container .message-body {
    border-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    flex-grow: 1;

    cursor: pointer;
}

.rooms-container .message-body:not(:last-child) {
    border-bottom-right-radius: 0;
    border-right: solid 1px #4a4a4a;
}

.section {
    padding-top: 1rem;
}

#dev-mode {
    background: #d23f31;
    border: 1px solid #3e2723;
    box-shadow: 0 0 4px rgba(0,0,0,.14), 0 2px 4px rgba(0,0,0,.28);
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    left: 20px;
    line-height: 18px;
    margin: -9px -50px;
    opacity: .87;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 0 #4e342e;
    top: 20px;
    transform: rotate(-45deg);
    width: 100px;
    z-index: 35;
    cursor: pointer;
}

.navbar.is-devmode .navbar-brand {
  padding-left: 30px;
}

#fme-maps-container h4 {
  font-weight: bold;
}

.maps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.maps .map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;

  margin: 8px;
}

.maps .map .map--label {
  font-weight: 300;
  margin-top: 2px;
  margin-bottom: 2px;
}
